
.logo-section {
  background: #fdfaec;
  text-align: center;
  padding: 20px 0;
}

.logo-section .logo img {
  height: 100px;
  width: 200px;
  object-fit: cover;
}


.nav-bar {
  background: #ccc;
  padding: 10px 0;
  text-align: center;
}

.nav-bar ul {
  list-style: none;
  display: inline-flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-bar ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-bar ul li a:hover {
  color: gold;
}


  
  .home {
    background: url('imagenes/home.jpeg') center/cover no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    filter: brightness(60%)
  }
  
  .home h1 {
    font-size: 3rem;
    
    
  }
  
  .quienes-somos {
    padding: 40px;
    background: #f5f5f5;
  }
  
  .quienes-somos .contenido {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .quienes-somos img {
    width: 600px;
    height: 300px;
    border: 5px solid black;
  }
  
  .eventos {
    background: #ccc;
    padding: 40px;
    text-align: center;
    color:  #4A3F35;

  }
  
  .eventos .galeria {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    gap: 40px;
    margin: 40px auto;
   
    
  }
  
  .eventos .galeria img {
    width: 100%;
    height: 100%;
    border: 2px solid black;
     object-fit: cover;
      cursor: pointer;
  }

  .eventos .galeria img:hover{
    border : 2px solid green ;

  }
  
  footer {
    background: #1b0f00;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    
   
  }
  
   /* paquete de eventos */
  .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px ;
}

.card {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {

  width: 30%;
  height: 30%;
  margin-bottom: 10px;
  border: 3px solid black;
 
  
}

.card h3 {
  margin-top: 10px;
  color: #333;
}

.card p {
  font-size: 16px;
  color: #666;
}

.info {
font-weight: bold;
  margin: 10px 0;
}


.card button {
  background-color: #fff59c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.card button:hover {
  background-color: #0056b3;
}

.reservas {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.reservas ul {
  list-style-type: none;
  padding: 0;
}

.reservas li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.reservas li:last-child {
  border-bottom: none;
}

.info {
  font-weight: bold;
  margin: 15px 0;
}

/*contactanos*/

.contacto {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #fff;
}

.info {
  flex: 1;
  min-width: 300px;
}

.info h2 {
  margin-top: 0;
  color: #c3974f;
}

.social a img {
  width: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

.mapa {
  flex: 1;
  min-width: 300px;
}

.mapa img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
